* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

*:focus {
  outline: none;
}

html {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 62.5%;
}

body {
  color: #80d1ae;
  text-align: center;
  font-size: 25px;
  margin: 0;
  padding-top: 10px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
