.searchBar {
  padding-top:10px;
}

/*styles the actual input from the user */
input {
  height: 40px;
  width: 400px;
  font-size:20px;
  color: #73c78a;
  opacity: 0.7;
}

/* styles the placeholder text */
::placeholder {
  font-size: 20px;
  color: #73c78a;
  opacity: 0.7;
}
