.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 60px;
  display:inline;
}

.App-header {
  background-color: #80d1ae;
  height: 120px;
  padding-top:20px;
  color: white;
}

.App-title {
  display:inline;
  font-size: 50px;
}

.App-intro {
  font-size: large;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 10px;
  font-size:20px;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
